<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div>
        <div class="slideshow">
            <div class="dieuhuong">
                <i class="fa fa-chevron-circle-left" onclick="Preview()"></i>
                <i class="fa fa-chevron-circle-right" onclick="Next()"></i>
            </div>
            <div class="chuyen-slide">
                <img src="https://lauwang.vn/wp-content/uploads/2023/02/silde-web-thang-1-scaled.jpg">
                <img src="https://jianghu.com.vn/wp-content/uploads/2020/12/banner-footer1.jpg">
                <img src="https://lauwang.vn/wp-content/uploads/2022/08/DSCF5299-Edit-1-scaled-700x500.jpg">
            </div>
            <script type="text/javascript" src="/QuanLyQuanLau/FontEnd/JAVASCRIPT/TrangChu/SlideShow.js"></script>
        </div>
    </div>

    <div class="noidung">
        <!-- <div w3-include-html="SlideShow.html"></div> 
        <script>
            includeHTML();
        </script> -->

    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>